appdirs==1.4.4
beautifulsoup4==4.12.3
black==24.4.2
blinker==1.8.2
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
cssselect==1.2.0
emoji==2.12.1
fake-useragent==1.5.1
Flask==3.0.3
gh-md-to-html==1.21.3
idna==3.7
importlib_metadata==8.2.0
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
lxml_html_clean==0.1.1
MarkupSafe==2.1.5
mypy-extensions==1.0.0
packaging==24.1
parse==1.20.2
pathspec==0.12.1
pillow==10.4.0
pip==24.0
platformdirs==4.2.2
pyee==11.1.0
pyppeteer==2.0.0
pyquery==2.0.0
pytz==2024.1
requests==2.32.3
requests-html==0.10.0
setuptools==69.5.1
shellescape==3.8.1
soupsieve==2.5
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==1.26.19
w3lib==2.2.1
webcolors==24.6.0
websockets==10.4
Werkzeug==3.0.3
wheel==0.43.0
zipp==3.19.2
